<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis | ML Project</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/icon">
</head>

<body>
    <div class="center">
        <div class="box"></div>
        <h1>Sentiment Analysis</h1>
        <div class="box"></div>
        <textarea type="text" id="input" rows="5" placeholder="Enter text..."></textarea>
        <div class="box"></div>
        <button class="btn" id="analyse-button">Analyse</button>
        <img src="/static/images/loading.gif" alt="Loading..." class="loading" id="loading">
        <div class="box"></div>
        <div id="result" class="result">
            <div class="emoji" id="result-emoji">👨🏻‍💻</div>
            <div class="text" id="result-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis soluta architecto corporis modi magni porro vitae eum et eveniet voluptas quod quos quis provident commodi eos, impedit nesciunt dolores dicta.</div>
            <div class="sentiment" id="result-sentiment">Positive</div>
        </div>
    </div>
    <div id="emoji-player"></div>
    <div id="group">
        <div id="member-1">👩🏻‍💻 Aqsa Sayyed - A11 (ML Model)</div>
        <div id="member-2">👨🏻‍💻 Anuj Sharma - A10 (ML Model)</div>
        <div id="member-3">👨🏻‍💻 Aniket Jagtap - A09 (Backend)</div>
        <div id="member-4">👨🏻‍💻 Baliraje Kalyane - A15 (Frontend)</div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>